.alt-liste{
    list-style-type: none;
    display: inline-block;
    align-items: center;
}
.img-width{
    width: 250px;
}
.img-height{
    height: 190px;
}
.img-area{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background: rgb(224, 97, 11);
    color: white;
    text-align: center;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    transition: 0.3s;
}
.text-center{
    text-align: center;
}
.text-color-white{
color: white;
}
.text-padding-top{
    padding-top: 0.75rem;
}
.container{
    display: flex;
    justify-content: center;
}
.text-color-black{
    color: black;
}